@import 'src/css/helpers';

.mat-column-order,
.mat-column-id {
	@extend %short-desc-column;
}

.mat-column-side,
.mat-column-title {
	@extend %medium-desc-column ;
}

:host {
	width: calc(100% - 30px);
}
