<div id="toolbar">
    <a id="zoom_in" class="c-toolbar__item" matTooltip="{{'dragon.zoom_in' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon class="c-toolbar__icon">zoom_in</mat-icon>
    </a>
    <a id="zoom_out" class="c-toolbar__item" matTooltip="{{'dragon.zoom_out' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon class="c-toolbar__icon">zoom_out</mat-icon>
    </a>
    <a id="home" class="c-toolbar__item" matTooltip="{{'dragon.home' | translate }}" [matTooltipPosition]="'above'">
        <mat-icon class="c-toolbar__icon">home</mat-icon>
    </a>
    <a id="fullscreen" class="c-toolbar__item" matTooltip="{{'dragon.fullscreen' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon class="c-toolbar__icon">fullscreen</mat-icon>
    </a>
    <a id="navigate_before" class="c-toolbar__item" matTooltip="{{'dragon.navigate_before' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon class="c-toolbar__icon">navigate_before</mat-icon>
    </a>
    <a id="navigate_next" class="c-toolbar__item" matTooltip="{{'dragon.navigate_next' | translate }}"
        [matTooltipPosition]="'above'">
        <mat-icon class="c-toolbar__icon">navigate_next</mat-icon>
    </a>
</div>

<div id="dragon" class="openseadragon" style="width:100%; height:100%;display: block;"></div>