:host {
	div#toolbar {
		position: absolute!important;
		z-index: 1000;

		display: flex;

		max-width: 200px;
		margin: 15px;

		color: black;
		background-color: rgba(255,255,255,.8);
	}
}

.c-toolbar__item {
	display: block;

	margin: 0 5px;

	cursor: pointer;
}

.c-toolbar__icon {
	margin-top: 2px;
}
