@font-face {
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;

	font-display: swap;
	src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(MaterialIcons-Regular.woff2) format('woff2'),
	url(MaterialIcons-Regular.woff) format('woff'),
	url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-size: 24px;  /* Preferred icon size */
	font-weight: normal;
	font-style: normal;
	line-height: 1;

	display: inline-block;

	white-space: nowrap;
	letter-spacing: normal;
	text-transform: none;
	word-wrap: normal;

	direction: ltr;

/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;

/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
	font-feature-settings: 'liga';
}
