<h1 mat-dialog-title>FeatureInfo ({{ ((features.features.length === 1) ? 'result': 'results') | translate:param }})</h1>
<div mat-dialog-content>

    <mat-expansion-panel *ngFor="let feature of features.features;let first = first;" [expanded]="first">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{feature.id}}
            </mat-panel-title>
            <mat-panel-description>
                {{feature.type}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container>
            <ul class="media-info__list">
                <li *ngFor="let param of feature.properties | keyvalue; ">
                    <ng-container *ngIf="param.key !== 'points'">
                        <span class="media-info__title">{{param.key}}</span>
                        <span class="media-info__desc" matTooltip="{{param.value}}" [matTooltipPosition]="'above'"
                            [matTooltipShowDelay]="500">{{param.value}}</span>
                    </ng-container>
                    <ng-container *ngIf="param.key === 'points'">
                        <span class="media-info__title">{{param.key}}</span>
                        <ng-container *ngFor="let prop of param.value | keyvalue; ">
                            <span class="media-info__desc" matTooltip="{{prop.value}}" [matTooltipPosition]="'above'"
                                [matTooltipShowDelay]="500">[{{prop.value.latitude}}, {{prop.value.longitude}},
                                {{prop.value.altitude}}]</span>
                        </ng-container>

                    </ng-container>
                </li>

            </ul>
        </ng-container>

    </mat-expansion-panel>

</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close [color]="'primary'" cdkFocusInitial>{{'webgis.ok' | translate}}</button>
</div>