<!-- <div class="wg__tool" [ngDraggable]="draggable" [position]="tool.mapCoordinates" [handle]="myHandle"> -->
<div class="wg__tool" cdkDrag>

    <mat-card class="wg__tool-card">

        <mat-card-title matTooltip="{{tool.tool.type}}" [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
            <mat-icon class="wg__tool-drag" cdkDragHandle>open_with</mat-icon>
            <span class="wg__tool-title">
                {{tool.tool.attributes.title}}
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            {{tool.tool.attributes.observations}}
        </mat-card-subtitle>

        <mat-card-content>
            <mat-list class="wg__tool-list">

                <mat-list-item matTooltip="{{'tools.measurement.geoDistTooltip' | translate}}"
                    [matTooltipPosition]="'above'">
                    <h4 mat-subheader mat-line>{{'tools.measurement.geoDist' | translate}}</h4>
                    <p mat-line>{{tool.measurement.geoDist}} km</p>
                </mat-list-item>

                <mat-list-item *ngIf="tool.tool.type === ToolsType.Polygon"
                    matTooltip="{{'tools.measurement.distTooltip' | translate}}" [matTooltipPosition]="'above'">
                    <h4 mat-subheader mat-line>{{'tools.measurement.dist' | translate}}</h4>
                    <p mat-line>{{tool.measurement.dist}} km</p>
                </mat-list-item>

                <mat-list-item matTooltip="{{'tools.measurement.terrainDistTooltip' | translate}}"
                    [matTooltipPosition]="'above'">
                    <h4 mat-subheader mat-line>{{'tools.measurement.terrainDist' | translate}}</h4>
                    <p mat-line>{{tool.measurement.terrainDist}} km</p>
                </mat-list-item>

                <mat-list-item *ngIf="tool.tool.type !== ToolsType.LineString"
                    matTooltip="{{'tools.measurement.projectedAreaTooltip' | translate}}"
                    [matTooltipPosition]="'above'">
                    <h4 mat-subheader mat-line>{{'tools.measurement.projectedArea' | translate}}</h4>
                    <p mat-line>{{tool.measurement.projectedArea}} km2</p>
                </mat-list-item>

                <mat-list-item *ngIf="tool.tool.type !== ToolsType.LineString"
                    matTooltip="{{'tools.measurement.terrainAreaTooltip' | translate}}" [matTooltipPosition]="'above'">
                    <h4 mat-subheader mat-line>{{'tools.measurement.terrainArea' | translate}}</h4>
                    <p mat-line>{{tool.measurement.terrainArea}} km2</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-stroked-button cdkFocusInitial color="primary"
                (click)="close()">{{'entity.action.close' | translate}}</button>
        </mat-card-actions>

    </mat-card>

</div>