@import '../../../../../css/helpers';
$modal-width: 300px;

::ng-deep {
	.wg__tool {
		position: absolute;
		z-index: 999;

		width: $modal-width;
		max-width: 100vw;
		height: 300px;
		@media screen and (min-width:$modal-width) {
			left: calc(50% - #{$modal-width / 2});
		}
	}
	.wg__tool-list.mat-list {
		.mat-subheader {
			height: 20px;
		}
	}
}
.wg__tool-card--collapsed {
	max-height: 20px;
	mat-card-subtitle,
	mat-card-actions,
	mat-card-content {
		display: none;
	}
}

mat-card-title {
	display: flex;
	.wg__tool-title {
		flex: 1;
	}
	.wg__tool-drag {
		margin-right: 15px;

		opacity: .5;
	}
}

.ng-draggable {
	cursor: move;
}
