@import '../../../../../css/variables';
@import '../../../../../css/helpers';
@import '../../../../../css/panels';

/* DRAG AND DROP */
// .drg__container {
// 	transition: all 300ms ease;
// 	&.dndDragover {
// 		padding-top: 12px;
// 		padding-bottom: 12px;
// 	}
// }
// .dndDraggingSource {
// 	display: none;
// }
// .dndPlaceholder {
// 	min-height: 48px;

// 	border: 1px dashed $wg-primary;
// 	background-color: rgba(0, 0, 0, .1);
// }
.panel__list.cdk-drop-list-dragging .panel__list-item:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, .2, 1);
}
.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, .2, 1);
}
.placeholder {
	min-height: 48px;

	border: 1px dashed $wg-primary;
	background-color: rgba(0, 0, 0, .1);
}
/* DRAG AND DROP */

$attr-height: 210px;
:host {
	@extend %panel;
}

.wg__layer-info {
	padding: 0 16px;
}

.layer__add-icon {
	right: 0;
	&:hover {
		cursor: pointer;
	}
}

.panel__list-item {
	background-color: rgba(255,255,255,1);
}

::ng-deep {
	&.panel__list {
		.panel__list-item {
			// background-color: red;
			&[role='group'],
			&[aria-level='0'] {
				.panel__item-text {
					.panel__item-desc {
						max-width: calc(#{$layer__width-side} - 65px);
					}
				}
			}
			&[aria-level='1'] {
				.panel__item-text {
					.panel__item-desc {
						max-width: calc(#{$layer__width-side} - 105px);
					}
				}
			}
		}
	}
}

.layer__attribute {
	overflow-y: auto;

	max-height: calc(100vh - (100vh / 3));

	mat-slider {
		display: block;

		width: calc(100% - 32px);
		margin: 0 auto;
	}
}
.layer__legend {
	max-width: calc(100% - 30px);
	padding: 0 15px;
}
.wg__layer--desc {
	flex: 1;
}

.full-size {
	width: 100%;
}

