<div class="panel__main">

    <div class="panel__item" [ngClass]="{'panel__item--closed': !listOpened}">
        <h3 class="panel__title" (click)="toggleList()">
            {{ 'layers.title'| translate}}
            <mat-icon>{{ listOpened ? 'keyboard_arrow_up' :
                'keyboard_arrow_down'}} </mat-icon>
        </h3>

        <mat-tree *ngIf="hasLayers;else noLayers" class="wg__list drg__container" [dataSource]="dataSource"
            [treeControl]="treeControl">

            <mat-tree-node class="wg__list-item" (mouseenter)="showAddLayer(node)" (mouseleave)=" hideAddLayer()"
                *matTreeNodeDef="let node" matTreeNodePadding>
                <button mat-icon-button disabled>
                    <mat-icon class="mat-icon-rtl-mirror" *ngIf="(node.item.type === 'SINGLE')">
                        <!-- {{(node.item.type === 'SINGLE') ? 'singlelayer' : 'layers'}} -->
                        {{(node.item.type !== 'SINGLE') ? 'view_module' : 'layers'}}
                    </mat-icon>
                    <mat-icon class="mat-icon-rtl-mirror" *ngIf="(node.item.type !== 'SINGLE')" svgIcon="grouplayer">
                    </mat-icon>
                </button>

                <div class="panel__item-text" (click)="addLayer(node)" matTooltip="{{node.item.label}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="1000">
                    <span class="panel__item-desc">{{node.item.title}}</span>
                    <mat-icon *ngIf="(nodeAddLayerHovered === node.idLayer)" class="layer__add-icon">add_circle_outline
                    </mat-icon>
                </div>

            </mat-tree-node>

            <mat-tree-node class="wg__list-item" (mouseenter)="showAddLayer(node)" (mouseleave)=" hideAddLayer()"
                *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <div class="panel__item-text">
                    <span class="panel__item-desc" (click)="expandNode(node)">
                        {{node.denom}}
                    </span>
                    <div class="layer__icons"
                        *ngIf="(!!node.idWorkspace ? (nodeAddLayerHovered === node.idWorkspace): nodeAddLayerHovered === node.idLayer)">
                        <mat-icon (click)="addWorkspace(node)" class="layer__add-icon">add_circle</mat-icon>
                    </div>
                </div>
            </mat-tree-node>

        </mat-tree>

        <ng-template #noLayers>
            <span class="list__nodata" *ngIf="searchDone">
                {{'layers.nolayers' | translate}}
            </span>
        </ng-template>

    </div>

    <mat-divider></mat-divider>

    <div class="panel__item" [ngClass]="{'panel__item--closed': !selectedListOpened}">

        <h3 class="panel__title" (click)="toggleSelected()">
            {{'layers.layersSelected' | translate}}{{layersSelectedText}}
            <mat-icon *ngIf="(layersSelectedList.length > 0)">{{
                selectedListOpened ? 'keyboard_arrow_down' :
                'keyboard_arrow_up'}}
            </mat-icon>
        </h3>

        <mat-list class="panel__list" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-list-item cdkDrag
                [ngClass]="{'wg__node--opaced' : !!layerEditable && layerEditable.item.idLayer !== layerSel.item.idLayer}"
                *ngFor="let layerSel of layersSelectedList; trackBy: trackById" (mouseenter)="showActionLayer(layerSel)"
                (mouseleave)=" hideActionLayer()" class="lay-sel__item panel__list-item">

                <div class="placeholder" *cdkDragPlaceholder></div>

                <div class="panel__item-text">
                    <div class="panel-item__icons panel-item__icons--left" matTooltip="{{(layerSel.enabled ===
                        false) ? ('layers.show'| translate) : ('layers.hide' | translate)}}"
                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="1000">
                        <mat-icon (click)="toggleLayer(layerSel)" class="layer__add-icon">{{(layerSel.enabled ===
                            false) ?
                            'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <span class="panel__item-desc" (click)="editLayer(layerSel)" matTooltip="{{layerSel.item.label}}"
                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="1000">
                        {{layerSel.item.title}}
                    </span>

                    <div class="panel-item__icons" *ngIf="(nodeRemoveLayerHovered === layerSel.idLayer)">
                        <mat-icon matTooltip="{{'entity.action.delete' | translate}}" [matTooltipPosition]="'above'"
                            [matTooltipShowDelay]="500" (click)="delLayer(layerSel)" class="layer__add-icon">
                            delete_forever</mat-icon>
                        <mat-icon matTooltip="{{'entity.action.save' | translate}}" [matTooltipPosition]="'above'"
                            [matTooltipShowDelay]="500" (click)="editLayer(layerSel)" class="layer__add-icon">edit
                        </mat-icon>
                    </div>
                </div>

            </mat-list-item>
        </mat-list>
    </div>

    <mat-divider></mat-divider>

    <div class="layer__attribute" *ngIf="!!layerEditable">

        <h3 class="panel__title">
            <!-- <mat-icon>info_outline</mat-icon> -->
            {{layerEditable.item.title}}
        </h3>
        <div class="wg__layer-info">
            <h4 class="panel__subtitle">
                <ng-container *ngIf="(layerEditable.item.type === EnumLayerType.SINGLE)">
                    <mat-icon>layers</mat-icon>
                </ng-container>
                <ng-container *ngIf="(layerEditable.item.type !== EnumLayerType.SINGLE)">
                    <mat-icon svgIcon="grouplayer"></mat-icon>
                </ng-container>
                <span class="wg__layer--desc">{{layerEditableType}}</span>
                <mat-icon class="wg__icon--actionable" matTooltip="{{'entity.action.unselect' | translate}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="500" (click)="unselectLayer()">cancel
                </mat-icon>
            </h4>
            <h4 *ngIf="!!layerEditable.item.name" class="panel__subtitle">{{layerEditable.item.name}}</h4>
            <h4 *ngIf="!!layerEditable.item.title" class="panel__subtitle">{{layerEditable.item.title}}</h4>
            <h4 *ngIf="!!layerEditable.item.observations" class="panel__subtitle">{{layerEditable.item.observations}}
            </h4>
        </div>

        <mat-list>
            <mat-list-item class="">
                <mat-icon mat-list-icon>opacity</mat-icon>
                <span mat-line>{{'layers.attributes.transparency' | translate}}:
                    {{layerEditable.item.transparency}}%</span>
            </mat-list-item>
            <mat-slider #transparency mat-line class="full-size" value="{{layerEditable.item.transparency / 100}}"
                [max]="1" [min]="0" [step]="0.1" [thumbLabel]="true"
                (change)="changeTransparency(this.transparency.value)" [color]="'primary'">
            </mat-slider>
            <mat-list-item>
                <mat-icon mat-list-icon svgIcon="ballot"></mat-icon>
                <span mat-line>{{'layers.legend' | translate}}</span>
            </mat-list-item>
            <img class="layer__legend" [src]="legend$ | async">
        </mat-list>

    </div>

</div>