@import '../../../../../css/variables';
@import '../../../../../css/helpers';
@import '../../../../../css/panels';
:host {
	@extend %panel;
}

$resource-space-left: 25px;
.wg__resources-container {
	display: flex;
	flex-direction: column;

// width: calc(100% - #{$resource-space-left});

	width: calc(100% - 40px);
}
.wg__resources {
	display: flex;
	flex-direction: row;

	min-width: 240px;
	min-height: 40px;
	padding-left: $resource-space-left;

	transition: outline box-shadow .3s;
	transition: all .3s;

	opacity: .6;
	outline: none;
	box-shadow: none;

	align-items: center;
	// mat-icon {
	// 	font-size: 1.3em;
	// }
	&:hover {
		opacity: 1;
		.wg__resouce-center {
			cursor: pointer;
		}
		&.wg__resources--geolocated {
			cursor: pointer;
		}
	}
	&.wg__resources--selected {
		opacity: 1;
		outline: 1px solid $wg-primary;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, .6);
	}
	&:hover {
		.mat-icon.wg__resouce-center {
			display: inline-block;
		}
	}
}
.wg__resouce-center {
	display: none;
}
// .wg__resource-type {
// 	margin-right: 10px;
// }
.wg__resouce-name {
	@extend %nowrap;

	flex: 1;

	max-width: 225px;
	margin-left: 10px;
}

.wg__medialist--noresult {
	line-height: 25px;

	min-height: 25px;
	margin-top: 5px;
	padding-left: 25px;
}

