<div class="panel__main">

    <div class="panel__item" [ngClass]="{'panel__item--closed': !newOpened}">
        <h3 class="panel__title" (click)="toggleNew()">
            {{ 'media.new'| translate}}
            <mat-icon>{{ newOpened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}} </mat-icon>
        </h3>
        <div class="panel__list">
            <app-media-list></app-media-list>
        </div>

    </div>

    <mat-divider></mat-divider>

    <div class="panel__item" [ngClass]="{'panel__item--closed': !listOpened}">

        <h3 class="panel__title" (click)="toggleList()">
            {{ 'media.list.title'| translate}} {{mediaListText}}
            <mat-icon>{{ listOpened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}} </mat-icon>
        </h3>

        <div class="panel__list ">

            <mat-list>

                <mat-list-item *ngFor="let media of mediaListWithResources;" class="lay-sel__item panel__list-item"
                    (mouseenter)="showActionMedia(media)" (mouseleave)="hideActionMedia()"
                    [ngClass]="{'wg__node--opaced' : ((!!mediaEditable && !!mediaEditable.id) && mediaEditable.id !== media.id)}">

                    <div class="panel__item-text">

                        <div class="panel-item__icons panel-item__icons--left">
                            <mat-icon (click)="expandMediaList(media.id)" [matTooltip]="getToolTip(media.id)"
                                [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
                                {{ media.id === mediaListExpandedId ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                            <mat-icon (click)="setVisibility(media)" class="layer__add-icon">
                                {{(media.visible === false) ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </div>

                        <span class="panel__item-desc" (click)="setMediaSelected(media)"
                            matTooltip="{{!!media.resources ? media.resources.length : 0}} {{'media.total' | translate}}"
                            [matTooltipPosition]="'above'" [matTooltipShowDelay]="1000">
                            {{media.title}}
                        </span>

                        <div class="panel-item__icons" *ngIf="(mediaHovered === media)">
                            <mat-icon matTooltip="{{'entity.action.delete' | translate}}" [matTooltipPosition]="'above'"
                                [matTooltipShowDelay]="500" (click)="delMedia(media)" class="layer__add-icon">
                                delete_forever
                            </mat-icon>
                            <mat-icon matTooltip="{{'entity.action.save' | translate}}" [matTooltipPosition]="'above'"
                                [matTooltipShowDelay]="500" (click)="setMediaSelected(media)" class="layer__add-icon">
                                edit
                            </mat-icon>
                        </div>

                    </div>

                    <div class="wg__resources-container" *ngIf="mediaListExpandedId === media.id">
                        <ng-container *ngIf="(media.resources.length > 0); else noResults">
                            <ng-container *ngFor="let resource of media.resources; trackBy: trackById">
                                <div class="wg__resources"
                                    [ngClass]="{'wg__resources--selected' : (!!mediaResourceSelected && mediaResourceSelected.id === resource.id),'wg__resources--geolocated' : resource.isGeolocated}">
                                    <mat-icon class="wg__resource-type" (click)="setCenter($event)">
                                        {{ resource.isImage ? 'photo_camera' : 'videocam'}}
                                    </mat-icon>
                                    <mat-icon class="wg__resource--unlocated"
                                        matTooltip="{{'media.resource.unlocated' | translate}}"
                                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                                        *ngIf="!resource.isGeolocated">
                                        location_off
                                    </mat-icon>
                                    <span class="wg__resouce-name" matTooltip="{{resource.name}}"
                                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                                        (click)="setCenter(resource)">
                                        {{resource.name}}
                                    </span>
                                    <mat-icon matTooltip="{{'entity.action.center' | translate}}"
                                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                                        (click)="setCenter(resource)" class="wg__resouce-center"
                                        *ngIf="resource.isGeolocated">
                                        filter_center_focus
                                    </mat-icon>
                                    <mat-icon matTooltip="{{'entity.action.showresource' | translate}}"
                                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                                        (click)="selectResource(resource)" class="wg__resouce-center">
                                        open_in_new
                                    </mat-icon>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-template #noResults>
                            <span class="wg__medialist--noresult">{{'media.noresults' | translate }}</span>
                        </ng-template>

                    </div>

                </mat-list-item>

            </mat-list>

        </div>


    </div>

    <mat-divider></mat-divider>

    <ng-container *ngIf="!!mediaEditable && !!mediaEditable.id">

        <div class="wg__icon-attributes">

            <h3 class="wg__icon-attr">
                {{'webgis.attr' | translate}}
                <div class="wg__icon-actions">
                    <mat-icon (click)="setMediaSelected(null)" matTooltip="{{'entity.action.unselect' | translate}}"
                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">cancel</mat-icon>
                    <mat-icon (click)="delMedia(mediaEditable)" matTooltip="{{'entity.action.delete' | translate}}"
                        [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">delete_forever</mat-icon>

                </div>

            </h3>

            <div class="iconForm">
                <app-media-list [mediaList]="mediaEditable"></app-media-list>
            </div>

        </div>
    </ng-container>

</div>