<h1 mat-dialog-title>{{'webgisApp.role.home.createLabel' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="roleForm" novalidate>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.role.fields.title'| translate}}" formControlName="title"
                [(ngModel)]="actualRole.title" required>
        </mat-form-field>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.role.fields.name'| translate}}" formControlName="name"
                [(ngModel)]="actualRole.name" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'webgis.cancel' | translate}}</button>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="save()"
        [disabled]="(roleForm.invalid) ? '' : null">{{'entity.action.save' | translate}}</button>
</div>