@import 'src/css/helpers';

.mat-column-offsetX,
.mat-column-offsetY {
	@extend %xs-desc-column;
}

.mat-column-id {
	@extend %short-desc-column;
}

.mat-column-observations,
.mat-column-iconContentType,
.mat-column-title {
	@extend %medium-desc-column ;
}

:host {
	width: calc(100% - 30px);
}
