<div class="title__container">
    <h1>{{'webgisApp.markerType.home.title' | translate}}</h1>
    <button mat-raised-button (click)="add()">{{'webgisApp.markerType.home.createLabel' | translate}}</button>
</div>

<app-filter-table [fields]="fieldsSearch" (applyFilter)="applyFilter($event)"></app-filter-table>

<div class="wg__table wg__table--auto mat-elevation-z1">

    <table mat-table [dataSource]="dataSource" matSort matSortActive="selectedValue" matSortDisableClear
        matSortDirection="asc">

        <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.id' | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="wg__table-link-container">
                    <button class="wg__table-link--list" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="wg__table-link--list" (click)="delete(element)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                    <button class="wg__table-link--list" (click)="managePermissions(element)">
                        <mat-icon>people</mat-icon>
                    </button>
                    {{element.id}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.icon' | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
                <img height="32" width="32" alt="{{'webgisApp.markerType.home.editLabel' | translate}}" [src]="getIcon(element.icon,element.iconContentType)">
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.title' | translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="iconContentType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.iconContentType' |
                translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.iconContentType}} </td>
        </ng-container>

        <ng-container matColumnDef="observations">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.observations' |
                translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.observations}} </td>
        </ng-container>

        <ng-container matColumnDef="offsetX">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.offsetX' |
                translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.offsetX}} </td>
        </ng-container>

        <ng-container matColumnDef="offsetY">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.markerType.fields.offsetY' |
                translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.offsetY}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>