@import 'src/css/helpers';
$modal-width: 300px;

::ng-deep {
	.wg__marker {
		position: absolute;
		z-index: 999;

		width: $modal-width;
		max-width: 100vw;
		height: 300px;

		@media screen and (min-width:$modal-width) {
			left: calc(50% - #{$modal-width / 2});
		}
	}
}
.wg__marker-card--collapsed {
	max-height: 20px;
	mat-card-subtitle,
	mat-card-actions,
	mat-card-content {
		display: none;
	}
	// .wg__marker-title {
	// 	max-height: 20px;
	// }
}

mat-card-title {
	display: flex;
	.wg__marker-title {
		@extend %nowrap;

		flex: 1;
		mat-icon {
			float: right;
		}
	}
	.wg__marker-drag {
		margin-right: 15px;

		opacity: .5;
	}
}

.ng-draggable {
	cursor: move;
}
