<!-- <div class="wg__marker" [ngDraggable]="draggable" [position]="marker.mapCoordinates" [handle]="myHandle"> -->
<div class="wg__marker" cdkDrag>

    <mat-card class="wg__marker-card" [ngClass]="{'wg__marker-card--collapsed' : isCollapsed}">

        <!-- <div > -->
        <mat-card-title matTooltip="{{marker.marker.mapTitle}}" [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="500">
            <mat-icon class="wg__marker-drag" cdkDragHandle>open_with</mat-icon>
            <span class="wg__marker-title" (click)="toggleCollapse()">
                {{marker.marker.title}}
                <mat-icon>
                    {{isCollapsed ? 'keyboard_arrow_down' :'keyboard_arrow_up'}}
                </mat-icon>
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            {{marker.marker.observations}}
        </mat-card-subtitle>
        <!-- </div> -->

        <mat-card-content>
            <mat-form-field class="fullwidth">
                <input matInput placeholder="{{'markers.markertitle' | translate }}" value="{{marker.marker.mapTitle}}"
                    [(ngModel)]="marker.marker.mapTitle" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="fullwidth">
                <textarea matInput placeholder="{{'markers.markerobservations' | translate }}"
                    value="{{marker.marker.mapObservations}}" [(ngModel)]="marker.marker.mapObservations"
                    [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="close()">{{'entity.action.cancel' | translate}}</button>
            <button mat-stroked-button color="primary" cdkFocusInitial
                (click)="save()">{{'entity.action.save' | translate}}</button>
        </mat-card-actions>

    </mat-card>

</div>