@import '../../../../../../css/helpers';
:host {
	.mat-dialog-content {
		display: flex;
	}
	@media screen and  (max-width: 699px) {
		.mat-dialog-content {
			flex-direction: column;
		}
		mat-list {
			flex: 1;
		}
	}
	@media screen and  (min-width: 700px) {
		.mat-dialog-content {
			flex-direction: row;
		}
		mat-list {
			flex: .5;
		}
	}
	mat-list {
		overflow: hidden;

		margin: 15px;
	}
}
