app-open-sea-dragon {
	display: block;

	width: 100%;
	height: 100%;
}

.mat-dialog-content {
	display: flex;
	flex: 1;

	height: 100%;
	@media screen and (max-width:600px) {
		max-height: calc(100% - 150px);
	}
	@media screen and (min-width:600px) {
		max-height: calc(100% - 100px);
	}
}
