<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <app-open-sea-dragon [images]="images" [selectedIndex]="selectedIndex" *ngIf="images.length > 0">
  </app-open-sea-dragon>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close [color]="'primary'" cdkFocusInitial>{{'webgis.ok' | translate}}</button>
</div>