<h1 mat-dialog-title>{{'map.saveaslayer' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="mapForm" novalidate>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'map.layer.title'| translate}}" formControlName="title" [(ngModel)]="model.title">
        </mat-form-field>
        <mat-form-field class="fullwidth" color="primary">
            <textarea autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'map.layer.observations'| translate}}" formControlName="observations"
                [(ngModel)]="model.observations"></textarea>
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <mat-label>{{'map.savelayer.workspace' | translate }}</mat-label>
            <mat-select formControlName="workspace" name="workspace" [(ngModel)]="model.workspace">
                <mat-option *ngFor="let option of workspaces$ | async " [value]="option.name">
                    {{option.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'webgis.cancel' | translate}}</button>
    <button mat-stroked-button color="primary" cdkFocusInitial [disabled]="(mapForm.invalid) ? '' : null"
        [mat-dialog-close]="model">{{'map.publish' | translate}}</button>
</div>