<div class="main__container">

    <ul class="btn__expand-container" [ngClass]="{'btn__expand-container--fake' : showFakeLeft}" cdkDropList
        #pnlListLeft="cdkDropList" [cdkDropListData]="panelListLeft" [cdkDropListConnectedTo]="[pnlListRight]"
        (cdkDropListDropped)="drop($event)">

        <li cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"
            *ngFor="let panel of panelListLeft; trackBy: trackById" class="btn__expand" (click)="setFixed(panel)"
            [attr.data-bg]="panel.typeSelectedUrl" [ngClass]="{'btn__expand--active': panel.isFixed}">

            <div class="placeholder" *cdkDragPlaceholder></div>

            <i class="material-icons" matTooltip="{{'panel.type.' + panel.title | translate}}"
                [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
                {{panel.icon}}
            </i>

            <span class="btn__type-selected" [style.backgroundImage]="'url(' + panel.typeSelectedUrl +')'"
                *ngIf="(panel.typeSelected && !panel.isFixed && !!panel.typeSelectedUrl)">
            </span>
            <span class="btn__type-selected" *ngIf="(panel.typeSelected && !panel.isFixed && !panel.typeSelectedUrl)">
                <ng-container [ngSwitch]="(panel.typeSelectedIcon === C_ELLIPSE)">
                    <mat-icon *ngSwitchCase="true" svgIcon="ellipse"></mat-icon>
                    <mat-icon *ngSwitchCase="false">{{panel.typeSelectedIcon}}</mat-icon>
                </ng-container>
            </span>
        </li>
    </ul>

    <div class="side side__left " *ngFor="let panel of panelListLeft; trackBy: trackById"
        [ngClass]="{'side--collapsed' :!panel.isFixed}">

        <ng-container *ngIf="(panel.title === PanelType.LAYER)">
            <app-layers [layerTypes]="layerTypes$" [layersAdded]="layersSelected$" (layersAdd)="addLayers($event)"
                (layersOrder)="layerOrdered($event)" (layersToggleVisibility)="toggleVisibility($event)"
                (layersRemove)="removeLayer($event)" (changeAttr)="changeTransparency($event)"></app-layers>
        </ng-container>

        <ng-container *ngIf="(panel.title === PanelType.MARKER)">
            <app-markers [markersTypeSelected]="markersTypeSelected$" [markers]="markers$"
                [markersTypes]="markersTypes$" [markerMapEditable]="markerEditable$"
                (setMarkerType)="setMarkerType($event)" (setMarkerRemove)="removeMarker($event)"
                (setMarkerEdit)="editMarker($event)" (setMarkerEditable)="setMarkerEditable($event,true)"></app-markers>
        </ng-container>

        <ng-container *ngIf="(panel.title === PanelType.TOOL)">
            <app-tools [toolsTypeSelected]="toolTypeSelected$" [toolMapEditable]="toolEditable$" [tools]="toolsAdded$"
                [toolsTypes]="toolsTypes$" (selectToolType)="selectToolType($event)"
                (setToolEditable)="setToolEditable($event)" (setToolEdit)="editTool($event)"
                (setToolRemove)="removeTool($event)"></app-tools>
        </ng-container>

        <ng-container *ngIf="(panel.title === PanelType.MEDIA)">
            <app-media [mediaResourceSelected$]="mediaResourcesSelected$" [mediaResources$]="mediaResources$"
                [userReq$]="userReq$" [mediaListSelected$]="mediaListSelected$" [mediaList$]="mediaList$"
                (toggleMediaVisibility)="toggleMediaVisibility($event)"
                (setMediaListSelected)="setMediaListSelected($event)" (removeMediaList)="removeMedia($event)"
                (clearUser)="clearUser()" (addResources)="addResources($event)"
                (setResourceSelected)="showMediaResource($event)" (moveToLocation)="moveToLocation($event)">
            </app-media>
        </ng-container>
    </div>

    <ng-container *ngFor="let dialog of markerDialogs; trackBy: trackByMarker">
        <app-marker-dialog [marker]="dialog" (closeMarkerDialog)="closeMarkerDialog($event)"
            (editMarkerDialog)="editMarker($event)"></app-marker-dialog>
    </ng-container>

    <app-media-dialog [mediaResourceSelected$]="mediaResourcesSelected$" (close)="closeResourceDialog()">
    </app-media-dialog>

    <ng-container *ngFor="let tool of toolDialogs; trackBy: trackByTool">
        <app-tools-dialog [tool]="tool" [measurements]="tool.measurement" (closeToolDialog)="closeToolDialog($event)">
        </app-tools-dialog>
    </ng-container>

    <app-map [config]="config$" [serverList]="serverList$" [layersAdded]="layersSelected$"
        [toolEditable]="toolEditable$" [toolsMap]="toolsAdded$" [toolTypeSelected]="toolTypeSelected$"
        [markers]="markers$" [markerTypeSelected]="markersTypeSelected$" [markerEditable]="markerEditable$"
        [toolDialog]="toolDialogs$" [markerDialog]="markerDialogs$" [moveToLocation]="moveToLocation$"
        [timeDiff]="timeDiff$" (setMarkerAdded)="addMarkerMap($event)" (setMarkerMoved)="updateLocation($event)"
        (toolMapAdded)="addTool($event)" (setToolEditable)="setToolEditable($event)" (setToolEdited)="editTool($event)"
        (setMarkerEditable)="setMarkerEditable($event,false)" (showMarkerDialog)="createMarkerDialog($event)"
        (showToolDialog)="createToolDialog($event)" [city]="city$" [mediaResources]="mediaResources$"
        (showMediaResource)="showMediaResource($event)" (showFeatureInfo)="showFeatureInfo($event)"
        (setNavigation)="setNavigation($event)"></app-map>

    <div class="side side__right" *ngFor="let panel of panelListRight; trackBy: trackById"
        [ngClass]="{'side--collapsed' :!panel.isFixed}">

        <ng-container *ngIf="(panel.title === PanelType.LAYER)">
            <app-layers [layerTypes]="layerTypes$" [layersAdded]="layersSelected$" (layersAdd)="addLayers($event)"
                (layersOrder)="layerOrdered($event)" (layersToggleVisibility)="toggleVisibility($event)"
                (layersRemove)="removeLayer($event)" (changeAttr)="changeTransparency($event)"></app-layers>
        </ng-container>

        <ng-container *ngIf="(panel.title === PanelType.MARKER)">
            <app-markers [markersTypeSelected]="markersTypeSelected$" [markers]="markers$"
                [markersTypes]="markersTypes$" [markerMapEditable]="markerEditable$"
                (setMarkerType)="setMarkerType($event)" (setMarkerRemove)="removeMarker($event)"
                (setMarkerEdit)="editMarker($event)" (setMarkerEditable)="setMarkerEditable($event,true)"></app-markers>
        </ng-container>

        <ng-container *ngIf="(panel.title === PanelType.TOOL)">
            <app-tools [toolsTypeSelected]="toolTypeSelected$" [toolMapEditable]="toolEditable$" [tools]="toolsAdded$"
                [toolsTypes]="toolsTypes$" (selectToolType)="selectToolType($event)"
                (setToolEditable)="setToolEditable($event)" (setToolEdit)="editTool($event)"
                (setToolRemove)="removeTool($event)"></app-tools>
        </ng-container>

        <ng-container *ngIf="(panel.title === PanelType.MEDIA)">
            <app-media [mediaResourceSelected$]="mediaResourcesSelected$" [mediaResources$]="mediaResources$"
                [userReq$]="userReq$" [mediaListSelected$]="mediaListSelected$" [mediaList$]="mediaList$"
                (toggleMediaVisibility)="toggleMediaVisibility($event)"
                (setMediaListSelected)="setMediaListSelected($event)" (removeMediaList)="removeMedia($event)"
                (clearUser)="clearUser()" (addResources)="addResources($event)"
                (setResourceSelected)="showMediaResource($event)" (moveToLocation)="moveToLocation($event)">
            </app-media>
        </ng-container>

    </div>

    <ul class="btn__expand-container btn__expand-container--right"
        [ngClass]="{'btn__expand-container--fake' : showFakeRight}" cdkDropList #pnlListRight="cdkDropList"
        [cdkDropListData]="panelListRight" [cdkDropListConnectedTo]="[pnlListLeft]" (cdkDropListDropped)="drop($event)">

        <li cdkDrag (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"
            *ngFor="let panel of panelListRight; trackBy: trackById" class="btn__expand" (click)="setFixed(panel)"
            [ngClass]="{'btn__expand--active': panel.isFixed}">

            <div class="placeholder" *cdkDragPlaceholder></div>

            <i class="material-icons" matTooltip="{{'panel.type.' + panel.title | translate}}"
                [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
                {{panel.icon}}
            </i>
            <span class="btn__type-selected" [style.backgroundImage]="'url(' + panel.typeSelectedUrl +')'"
                *ngIf="(panel.typeSelected && !panel.isFixed && !!panel.typeSelectedUrl)">
            </span>

            <span class="btn__type-selected" *ngIf="(panel.typeSelected && !panel.isFixed && !panel.typeSelectedUrl)">
                <ng-container [ngSwitch]="panel.typeSelectedIcon === C_ELLIPSE">
                    <mat-icon *ngSwitchCase="true" svgIcon="ellipse"></mat-icon>
                    <mat-icon *ngSwitchCase="false">{{panel.typeSelectedIcon}}</mat-icon>
                </ng-container>
            </span>
        </li>

    </ul>

</div>