@import 'src/css/variables';
@import 'src/css/theming';
$height-expand: 30px;
$wg-size-panel: 50px;
:host {
	width: 100%;
}

.main__container {
	display: flex;
	flex: 1;

	height: 100%;
}

.side {
	position: absolute;

	display: flex;

	width: $layer__width-side;

	transition: all $panel-transition;

	opacity: 1;
	&.side__left {
		left: calc( #{$wg-size-panel} + 10px);
	}
	&.side__right {
		right: calc( #{$wg-size-panel} + 10px);

		flex-direction: row-reverse;
	}
	&.side--collapsed {
		&:not(.side--fixed) {
			overflow: hidden;

			width: 0;
		}
	}
}

.btn__expand-container {
	position: absolute;

	display: flex;
	flex-direction: column;

	width: 62px;
	min-height: 70px;
	margin: 0;
	padding: 0;

	transition: all 300ms ease;

	.btn__expand {
		position: relative;
	}
	&.btn__expand-container--right {
		right: 0;
		.btn__expand {
			padding-right: 10px;
			&::after {
				margin-left: -68px;
			}
		}
	}
}


.placeholder {
	min-height: 56px;

	border: 1px dashed $wg-primary-contrast;
	background-color: rgba(0, 0, 0, .1);
}

.btn__expand {
	display: block;

	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px; // width: $wg-size-panel;

	&::after {
		position: absolute;

		width: 20px;
		height: 20px;
		margin-top: 12px;
		margin-left: 6px;

		content: '';
		transition: .3s;
		transform: rotate(45deg);

		opacity: 0;
		background-color: $wg-primary-contrast;
	}
	i {
		font-size: 1.5em;

		padding: 8px;

		color: $wg-primary;
		border: 1px solid transparent;
		border-radius: 100%;
		background-color: transparent;
		background-color: $wg-primary-contrast;
		&:first-child {
			border-top: none;
		}
		&:hover {
			cursor: pointer;

			opacity: .8;
		}
	}
	.btn__type-selected {
		position: absolute;
		top: 40px;
		left: 28px;

		display: block;

		width: 20px;
		height: 20px;
		padding: 2px;

		color: $wg-primary-contrast;
		border: 1px solid white;
		border-radius: 100%;
		background-color: $wg-primary;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 17px;
		.mat-icon {
			font-size: 20px;
			line-height: 20px;
		}
	}
	&.btn__expand--active {
		i {
			color: $wg-primary-contrast;
			border: solid .5px $wg-primary-contrast;
			background-color: $wg-primary;
		}

		&:hover::after {
			background-color: transparent;
		}
		&::after {
			opacity: 1;
		}
	}
}

.side__left i {
	border-left: none;
}

.side__right i {
	border-right: none;
}


.cdk-drop-list-dragging .cdk-drag {
	transition: transform 250ms cubic-bezier(0, 0, .2, 1);

	opacity: .8;
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
	transition: transform 300ms cubic-bezier(0, 0, .2, 1);
}
