<h1 mat-dialog-title>{{'webgisApp.group.home.editLabel' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="groupForm" novalidate>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="number"
                placeholder="{{'webgisApp.group.fields.id'| translate}}" formControlName="id"
                [(ngModel)]="actualGroup.id">
        </mat-form-field>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.group.fields.title'| translate}}" formControlName="title"
                [(ngModel)]="actualGroup.title" required>
        </mat-form-field>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.group.fields.name'| translate}}" formControlName="name"
                [(ngModel)]="actualGroup.name" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'webgis.cancel' | translate}}</button>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="save()"
        [disabled]="(groupForm.invalid) ? '' : null">{{'entity.action.save' | translate}}</button>
</div>