<h1 mat-dialog-title>{{'webgisApp.markerType.home.createLabel' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="markerTypeForm" novalidate>

        <input type="file" (change)="onFileChange($event)" id="fileInput" #fileInput />

        <ng-container *ngIf="!!actualMarkerType.icon">
            <img height="64" width="64" class="marker-type__icon"
                alt="{{'webgisApp.markerType.home.createLabel' | translate}}" [src]="actualMarkerType.icon">
        </ng-container>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.markerType.fields.title'| translate}}" formControlName="title"
                [(ngModel)]="actualMarkerType.title" required>
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.markerType.fields.iconContentType'| translate}}"
                formControlName="iconContentType" [(ngModel)]="actualMarkerType.iconContentType" required>
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'webgisApp.markerType.fields.observations'| translate}}" formControlName="observations"
                [(ngModel)]="actualMarkerType.observations" required>
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="number"
                placeholder="{{'webgisApp.markerType.fields.offsetX'| translate}}" formControlName="offsetX"
                [(ngModel)]="actualMarkerType.offsetX" required>
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="number"
                placeholder="{{'webgisApp.markerType.fields.offsetY'| translate}}" formControlName="offsetY"
                [(ngModel)]="actualMarkerType.offsetY" required>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'webgis.cancel' | translate}}</button>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="save()"
        [disabled]="(markerTypeForm.invalid) ? '' : null">{{'entity.action.save' | translate}}</button>
</div>