.spinner__container {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;

	background-color: rgba(211,211,211, .5);

	align-items: center;
	justify-content: center;
}
.spinner {
	position: absolute;
	z-index: 99999;
}

.double-bounce1,
.double-bounce2 {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;

	opacity: .6;
	border-radius: 50%;
	background-color: #333333;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(.0);
	}
	50% {
		-webkit-transform: scale(1.0);
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(.0);
		transform: scale(.0);
	} 50% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
