<div class="spinner__container" *ngIf="isVisible">
    <div class="spinner">
        <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-spinner>
        <!-- <div class="double-bounce1"></div>
        <div class="double-bounce2"></div> -->
    </div>
</div>
<!-- <mat-progress-spinner *ngIf="isVisible">
</mat-progress-spinner> -->