<div class="panel__main">
    <div class="panel__item" [ngClass]="{'panel__item--closed': !listOpened}">
        <h3 class="panel__title" (click)="toggleList()">
            {{ 'tools.title'| translate}}
            <mat-icon>{{ listOpened ? 'keyboard_arrow_up' :
                'keyboard_arrow_down'}} </mat-icon>
        </h3>
        <div class="panel__list panel__list--spaced">
            <ng-container *ngFor="let tool of toolsList; trackBy: trackByType">
                <div class="panel__list-icon" (click)="selectTool(tool)"
                    [ngClass]="{'wg__icon--selected' : (!!selectedTool ? (selectedTool.type === tool.type) : false)}">
                    <mat-icon *ngIf="!!tool.icon" class="wg__icon"
                        matTooltip="{{'tools.types.' + tool.type | translate}}" [matTooltipPosition]="'above'"
                        [matTooltipShowDelay]="500">
                        {{tool.icon}}
                    </mat-icon>
                    <mat-icon *ngIf="!!tool.svgIcon" svgIcon="{{tool.svgIcon}}" class="wg__icon"
                        matTooltip="{{'tools.types.' + tool.type | translate}}" [matTooltipPosition]="'above'"
                        [matTooltipShowDelay]="500">
                    </mat-icon>
                    {{'tools.types.' + tool.type | translate}}
                </div>
            </ng-container>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="panel__item" [ngClass]="{'panel__item--closed': !selectedListOpened}">
        <h3 class="panel__title" (click)="toggleSelected()">
            {{ 'tools.toolsDrawed'| translate}} {{toolListAddedText}}
            <mat-icon *ngIf="(toolListAdded.length > 0)">{{ selectedListOpened ?
                'keyboard_arrow_down' :
                'keyboard_arrow_up'}} </mat-icon>
        </h3>
        <mat-list class="panel__list">

            <mat-list-item (mouseenter)="showActionTool(tool)" (mouseleave)="hideActionTool()"
                *ngFor="let tool of toolListAdded; trackBy: trackByType" class="panel__list-item"
                [ngClass]="{'wg__node--opaced' : !!toolEditable && !!toolEditable.type && toolEditable.attributes.idMapTool !== tool.attributes.idMapTool}">
                <div class="panel__item-text" matTooltip="{{tool.attributes.observations}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="1000">

                    <span class="panel__item-desc" (click)="selectTooleditable(tool)">
                        {{tool.attributes.title}}
                    </span>

                    <div class="panel-item__icons" *ngIf="(toolHovered === tool.attributes.idMapTool)">
                        <mat-icon class="layer__add-icon" (click)="delTool(tool)">delete_forever</mat-icon>
                        <mat-icon class="layer__add-icon" (click)="selectTooleditable(tool)">edit</mat-icon>
                    </div>
                </div>

            </mat-list-item>
        </mat-list>

    </div>

    <mat-divider></mat-divider>

    <div class="wg__icon-attributes" *ngIf="!!toolEditable && !!toolEditable.type ">

        <h3 class="wg__icon-attr">

            {{'webgis.attr' | translate}}
            <div class="wg__icon-actions">
                <mat-icon (click)="selectTool(null)" matTooltip="{{'entity.action.unselect' | translate}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">cancel</mat-icon>
                <mat-icon (click)="delTool()" matTooltip="{{'entity.action.delete' | translate}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">delete_forever</mat-icon>
            </div>
        </h3>

        <form class="iconForm">
            <mat-form-field class="fullwidth">
                <input matInput (input)="changeToolAttributeText('title',toolEditable.attributes.title)"
                    placeholder="{{'tools.attributes.title' | translate }}" value="{{toolEditable.attributes.title}}"
                    [(ngModel)]="toolEditable.attributes.title" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="fullwidth">
                <textarea matInput
                    (input)="changeToolAttributeText('observations',toolEditable.attributes.observations)"
                    placeholder="{{'tools.attributes.observations' | translate }}"
                    value="{{toolEditable.attributes.observations}}" [(ngModel)]="toolEditable.attributes.observations"
                    [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>

            <mat-form-field class="fullwidth">
                <input placeholder="{{'tools.attributes.color' | translate }}" value="{{toolEditable.attributes.color}}"
                    matInput type="color" class="full-size" [(ngModel)]="toolEditable.attributes.color"
                    [ngModelOptions]="{standalone: true}"
                    (change)="changeToolAttribute('color',toolEditable.attributes.color)">
            </mat-form-field>

            <div class="wg__mat-form-field ">
                <span class="wg__mat-form-field-title">{{'tools.attributes.transparency' | translate}}</span>
                <mat-slider matInput class="fullwidth full-size" value="{{toolEditable.attributes.transparency}}"
                    [max]="1" [min]="0" [step]="0.1" [thumbLabel]="true"
                    [(ngModel)]="toolEditable.attributes.transparency" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="changeToolAttribute('transparency',toolEditable.attributes.transparency)"
                    [color]="'primary'">
                </mat-slider>
            </div>

            <div class="wg__mat-form-field ">
                <span class="wg__mat-form-field-title">{{'tools.attributes.width' | translate}}</span>
                <mat-slider class="fullwidth full-size" value="{{toolEditable.attributes.width}}"
                    [(ngModel)]="toolEditable.attributes.width" [ngModelOptions]="{standalone: true}"
                    (change)="changeToolAttribute('width',toolEditable.attributes.width)" [max]="10" [min]="0"
                    [step]="1" [thumbLabel]="true" [color]="'primary'">
                </mat-slider>
            </div>

            <ng-container *ngIf="toolEditable.type === ToolsType.Circle">
                <mat-form-field class="fullwidth">
                    <input matInput type="number" (input)="changeToolAttribute('radius',toolEditable.attributes.radius)"
                        placeholder="{{'tools.attributes.radius' | translate }}"
                        value="{{toolEditable.attributes.radius}}" [(ngModel)]="toolEditable.attributes.radius"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput (input)="onLatitudeChange()" placeholder="{{'map.location.latitude' | translate }}"
                        value="{{toolEditable.attributes.points[0].latitude}}"
                        [(ngModel)]="toolEditable.attributes.points[0].latitude" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput (input)="onLongitudeChange()"
                        placeholder="{{'map.location.longitude' | translate }}"
                        value="{{toolEditable.attributes.points[0].longitude}}"
                        [(ngModel)]="toolEditable.attributes.points[0].longitude" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="toolEditable.type === ToolsType.Rectangle">

                <mat-form-field class="fullwidth">
                    <input matInput (input)="onLatitudeChange()" placeholder="{{'map.location.latitude' | translate }}"
                        value="{{toolEditable.attributes.points[0].latitude}}"
                        [(ngModel)]="toolEditable.attributes.points[0].latitude" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput (input)="onLongitudeChange()"
                        placeholder="{{'map.location.longitude' | translate }}"
                        value="{{toolEditable.attributes.points[0].longitude}}"
                        [(ngModel)]="toolEditable.attributes.points[0].longitude" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput type="number" (input)="changeToolAttribute('rotate',toolEditable.attributes.rotate)"
                        placeholder="{{'tools.attributes.rotate' | translate }}"
                        value="{{toolEditable.attributes.rotate}}" [(ngModel)]="toolEditable.attributes.rotate"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>

            </ng-container>

            <ng-container *ngIf="toolEditable.type === ToolsType.Ellipse">

                <mat-form-field class="fullwidth">
                    <input matInput type="number"
                        (input)="changeToolAttribute('majorRadius',toolEditable.attributes.majorRadius)"
                        placeholder="{{'tools.attributes.majorRadius' | translate }}"
                        value="{{toolEditable.attributes.majorRadius}}"
                        [(ngModel)]="toolEditable.attributes.majorRadius" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput type="number"
                        (input)="changeToolAttribute('minorRadius',toolEditable.attributes.minorRadius)"
                        placeholder="{{'tools.attributes.minorRadius' | translate }}"
                        value="{{toolEditable.attributes.minorRadius}}"
                        [(ngModel)]="toolEditable.attributes.minorRadius" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput (input)="onLatitudeChange()" placeholder="{{'map.location.latitude' | translate }}"
                        value="{{toolEditable.attributes.points[0].latitude}}"
                        [(ngModel)]="toolEditable.attributes.points[0].latitude" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput (input)="onLongitudeChange()"
                        placeholder="{{'map.location.longitude' | translate }}"
                        value="{{toolEditable.attributes.points[0].longitude}}"
                        [(ngModel)]="toolEditable.attributes.points[0].longitude" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="fullwidth">
                    <input matInput type="number" (input)="changeToolAttribute('rotate',toolEditable.attributes.rotate)"
                        placeholder="{{'tools.attributes.rotate' | translate }}"
                        value="{{toolEditable.attributes.rotate}}" [(ngModel)]="toolEditable.attributes.rotate"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>

            </ng-container>

        </form>

    </div>

</div>