<div class="wg__filter-container">
    <mat-form-field>
        <mat-select placeholder="{{'map.fields.select' | translate}}" [(ngModel)]="selectedValue" (selectionChange)="setFilter()">
            <mat-option *ngFor="let field of fields; trackBy: trackById" [value]="field.value">
                {{field.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fullwidth">
        <input matInput (input)="setFilter()" placeholder="{{'map.fields.filter' | translate}}" [(ngModel)]="filterValue"
            [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</div>