@import 'src/css/variables';

:host {
	position: absolute;
	bottom: 50px;
	left: calc(50vw - 60px);

	display: flex;
	mat-icon {
		padding: 5px;
		&:hover {
			cursor: pointer;

			color: $wg-primary;
			background-color: white;
		}
	}
}
.time__container {
	display: flex;

	width: 190px;

	color: white;
	background: rgba(0,0,0,.5);

	flex-wrap: wrap;
	justify-content: space-between;
}

.time__text {
	font-size: .9em;

	width: 100%;
	padding: 10px 0;

	text-align: center;
}
