<div class="time__container">
    <!-- <ng-container *ngIf="(terrainTime | async) as time"> -->
    <ng-container *ngIf="!!actualTime">
        <label class="time__text">
            {{actualTime}}
        </label>

    </ng-container>
    <mat-icon (click)="subtractDay()" [matTooltipPosition]="'before'" matTooltip="{{'time.skip_previous' | translate}}"
        [matTooltipShowDelay]="500">
        skip_previous
    </mat-icon>
    <mat-icon (click)="subtractHour()" [matTooltipPosition]="'before'" matTooltip="{{'time.fast_rewind' | translate}}"
        [matTooltipShowDelay]="500">
        fast_rewind
    </mat-icon>
    <mat-icon (click)="resetTime()" [matTooltipPosition]="'below'" matTooltip="{{'time.replay' | translate}}"
        [matTooltipShowDelay]="500">
        replay
    </mat-icon>
    <mat-icon (click)="addHour()" [matTooltipPosition]="'after'" matTooltip="{{'time.fast_forward' | translate}}"
        [matTooltipShowDelay]="500">
        fast_forward
    </mat-icon>
    <mat-icon (click)="addDay()" [matTooltipPosition]="'after'" matTooltip="{{'time.skip_next' | translate}}"
        [matTooltipShowDelay]="500">
        skip_next
    </mat-icon>
</div>