/* Time series player position in medium to large viewports. */
@media (min-width: 992px)  {
    #timeSeriesPlayer {
        position: absolute;
        top: 200px;
        left: 20px;
    }
}

/* Time series player overlay position in small viewports. */
@media (max-width: 992px) {
    #timeSeriesPlayer {
        position: absolute;
        top: 100px;
        left: 5px;
    }
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}