<h1 mat-dialog-title>{{'panel.permissions.edit' | translate}} - {{panel.title}}</h1>
<div mat-dialog-content>

    <mat-list>
        <h3 mat-subheader>{{'webgisApp.role.home.title' | translate}}</h3>
        <div [formGroup]="checkboxGroupRoles">
            <mat-list-item *ngFor="let role of roles; trackBy: trackById">
                <mat-checkbox [formControlName]="role.id" (change)="updateTargetRoles($event,role)">
                    {{role.name}}
                </mat-checkbox>
            </mat-list-item>
        </div>
    </mat-list>

    <mat-list>
        <h3 mat-subheader>{{'webgisApp.group.home.title' | translate}}</h3>
        <div [formGroup]="checkboxGroupGroups">
            <mat-list-item *ngFor="let group of groups; trackBy: trackById">
                <mat-checkbox [formControlName]="group.id" (change)="updateTargetGroups($event,group)">
                    {{group.name}}
                </mat-checkbox>
            </mat-list-item>
        </div>

    </mat-list>

</div>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" cdkFocusInitial
        (click)="onNoClick()">{{'entity.action.close' | translate}}</button>
</div>