<h1 mat-dialog-title>{{'media.auth.title' | translate}}</h1>
<div mat-dialog-content>

    <form class="mediaForm" [formGroup]="authForm" novalidate>
        <mat-form-field class="fullwidth">
            <input matInput formControlName="user" required placeholder="{{'media.user' | translate }}">
        </mat-form-field>

        <mat-form-field class="fullwidth">
            <input matInput formControlName="password" required placeholder="{{'media.password' | translate }}"
                type="password">
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions>
    <button mat-button mat-button (click)="onNoClick()">{{'entity.action.close' | translate}}</button>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="authenticate()"
        [disabled]="(authForm.invalid) ? '' : null">
        {{'media.search'| translate }}</button>
</div>