<form class="mediaForm" [formGroup]="groupForm" novalidate>

    <mat-form-field class="fullwidth" *ngIf="mode === enumMode.EDIT">
        <input matInput (input)="changeMediaListAttributeText('title',mediaList.title)"
            placeholder="{{'media.fields.title' | translate }}" value="{{mediaList.title}}"
            [(ngModel)]="mediaList.title" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-radio-group>
        <label class="media__title">{{ 'media.intervals.title' | translate}}</label>
        <mat-radio-button class="media__interval" [checked]="interval.checked" *ngFor="let interval of intervals"
            [value]="interval.value" (change)="selectInterval(interval, (mode === enumMode.EDIT))">
            {{interval.text}}
        </mat-radio-button>
    </mat-radio-group>

    <ng-container *ngIf="(mediaList.idInterval === enumInterval.free)">
        <mat-form-field class="fullwidth">
            <input matInput (dateChange)="changeMediaListAttribute('startDate',mediaList.startDate)"
                [matDatepicker]="startDatePicker" placeholder="{{'media.startDate' | translate }}"
                [(ngModel)]="mediaList.startDate" name="startDate" required formControlName="dateStart">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="fullwidth">
            <input matInput (dateChange)="changeMediaListAttribute('endDate',mediaList.endDate)"
                [matDatepicker]="endDatePicker" placeholder="{{'media.endDate' | translate }}"
                [(ngModel)]="mediaList.endDate" name="endDate" required formControlName="dateEnd">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </ng-container>

    <mat-form-field class="fullwidth">
        <input matInput (input)="changeMediaListAttributeText('customerId',mediaList.customerId)"
            placeholder="{{'media.customerId' | translate }}" value="{{mediaList.customerId}}"
            [(ngModel)]="mediaList.customerId" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="fullwidth">
        <input matInput (input)="changeMediaListAttributeText('processType',mediaList.processType)"
            placeholder="{{'media.processType' | translate }}" value="{{mediaList.processType}}"
            [(ngModel)]="mediaList.processType" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="fullwidth">
        <input matInput (input)="changeMediaListAttributeText('captureType',mediaList.captureType)"
            placeholder="{{'media.captureType' | translate }}" value="{{mediaList.captureType}}"
            [(ngModel)]="mediaList.captureType" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <ng-container [ngSwitch]="mode">
        <button mat-raised-button color="primary" type="button" (click)="searchMediaList()"
            [disabled]="(groupForm.invalid) ? '' : null" *ngSwitchCase="enumMode.CREATE">
            {{'media.search'| translate }}</button>
    </ng-container>

</form>