<h1 mat-dialog-title>{{'map.load' | translate}}</h1>
<div mat-dialog-content>

    <app-filter-table [fields]="fieldsSearch" (applyFilter)="applyFilter($event)"></app-filter-table>

    <div class="wg__table mat-elevation-z1">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear
            matSortDirection="asc">
            <ng-container matColumnDef="id" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element" class="wg__table-id">
                    <button (click)="closeDialog(element.id)" class="wg__table-link">
                        <mat-icon>open_in_browser</mat-icon>
                        {{element.id}}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'map.fields.title' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="userLogin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'map.fields.userLogin' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.userLogin}} </td>
            </ng-container>

            <ng-container matColumnDef="observations">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'map.fields.observations' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.observations}} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'map.fields.created_at' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | amDateFormat:'L LTS'}} </td>
            </ng-container>

            <ng-container matColumnDef="modified_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'map.fields.modified_at' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.modified_at | amDateFormat:'L LTS'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" cdkFocusInitial
        (click)="onNoClick()">{{'webgis.cancel' | translate}}</button>
</div>