// @import '../../../../../css/helpers';
@import '../../../../../../css/helpers';
:host {
	.wg__table-id {
		padding-left: 12px;
	}
}

.wg__table-link {
	display: flex;

	border: none;
	background-color: transparent;

	align-items: center;
	.mat-icon {
		font-size: 1.6em;

		opacity: .6;
	}
	&:hover {
		cursor: pointer;
	}
}

.mat-column-id {
	@extend %code-desc-column;
}

.mat-column-title,
.mat-column-observations {
	@extend %short-desc-column ;
}

.mat-column-userLogin,
.mat-column-created_at,
.mat-column-modified_at {
	@extend %short-desc-column;
}
