@import './variables';
@import './helpers';
$padd-subheader: 16px;
$panel-item-height: 60px;

%wg-mat-subheader {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

	margin: 0;
	padding: $padd-subheader;
	padding-bottom: 11px;

	color: rgba(0, 0, 0, .54);
}

%wg-fixed {
	position: fixed;
	z-index: 9999;
	z-index: 1;
	z-index: 10;

	display: flex;
// los últimos 16px son los que ocupa el scroll

	width: calc( #{$layer__width-side} - (#{$padd-subheader} *2) - 16px);
	max-width: 100%;

// transition: width calc( #{$panel-transition} * 2);

	transition: width $panel-transition*2, opacity $panel-transition*4 ;

	opacity: 1;

// transition: width $panel-transition;
	background-color: white;
}

%panel {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: calc(100vh - 64px);

	background-color: white;
	.panel__main {
		display: flex;
		flex-direction: column;
		flex: 1;

		max-height: calc(100vh - 64px);
	}
}

.panel__item--closed {
	.panel__list {
		display: none;
	}
}

.panel__list-icon {
	display: flex;
	flex-direction: column;

	width: 80px;
	margin-bottom: 30px;
	padding: 5px;

	text-align: center;

	align-items: center;
	.wg__icon {
		margin-bottom: 5px;
	}
	&.wg__icon--selected {
		outline: 1px solid $wg-primary;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, .6);
	}
	&:hover {
		cursor: pointer;
	}
}

.panel__list {
	&.panel__list--spaced {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.panel__title {
	@extend %wg-mat-subheader;

	display: flex;

// width: 0;

	align-items: center;
	justify-content: space-between;

	&:hover {
		cursor: pointer;
	}
}

.panel__subtitle {
	font-size: 1em;
	font-weight: normal;

	display: flex;

	margin: 0;
	margin-bottom: 10px;

	align-items: center;
	mat-icon {
		margin-right: 10px;

		opacity: .3;
	}
}

.panel__item {
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1;

	height: 50%;
	max-height: calc(100vh - 64px - #{$panel-item-height});
	// transition: all 5s;
}
.panel__item--closed {
	max-height: $panel-item-height;
	.wg__list {
		display: none;
	}
}
.wg__icon-attributes {
	overflow-y: auto;

	max-height: 50vh;
}
.side {
	z-index: 1;
	&:not(.side--collapsed) {
		.wg__icon-attr {
			@extend  %wg-fixed;
		}
	}
}

.wg__icon-attr {
	@extend %wg-mat-subheader;

	width: 0;

	opacity: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);

	align-items: center;
	justify-content: space-between;
}

.wg__icon-actions {
	mat-icon {
		&:hover {
			cursor: pointer;

			opacity: 1;
		}
	}
}

::ng-deep {
	$icon__size: 44px;
	.panel__list {
		// overflow-x: hidden;
		// overflow-y: auto;
		// padding-top: 50px;
		.wg__icon-card--opaced {
			opacity: .3;
		}
		.wg__icon-card--selected {
			box-shadow: 0 0 9px 1px rgba(0,0,0,.75);
		}
		.panel__list-item {
			max-width: $layer__width-side;
			height: auto;
			min-height: 48px;

			// .panel__item-text {
			// 	cursor: pointer;
			// }

			.mat-list-item-content {
				display: flex;

				padding-right: 0;

				flex-wrap: wrap;
			}
			&.wg__node--opaced {
				opacity: .3;
			}
			.panel__item-text {
				.panel__item-desc {
					@extend %nowrap;

					max-width: calc(#{$layer__width-side} - 65px);
				}
			}
		}
	}
	.panel__item-text {
		display: flex;
		flex: 1;

		min-width: 160px;
		min-height: 24px;

		align-items: center;
		&:hover {
			cursor: pointer;
		}
		.panel__item-desc {
			flex: 1;
		}
		.panel-item__icons {
			display: flex;
			&.panel-item__icons--left {
				margin-right: 5px;
			}
		}
	}

	.wg__icon {
		font-size: 2em;

		display: flex;

		width: $icon__size;
		height: $icon__size;

		align-items: center;
		justify-content: center;
	}
	.iconForm {
		padding: 0 16px;
		padding-top: 70px;
	}
	.wg__mat-form-field {
		margin: 5px;
		.wg__mat-form-field-title {
			display: flex;
			flex: 1;

			opacity: .6;
		}
	}
}
