@import './variables';

// @mixin snackbar($theme) {
// $primary: mat-color(map-get($theme, primary));
$primary: $wg-primary;
// $primary-text: mat-color(map-get($theme, primary), default-contrast);
$primary-text: $wg-primary-contrast;
// $warn: mat-color(map-get($theme, warn));
$warn: $wg-warn;
// $warn-text: mat-color(map-get($theme, warn), default-contrast);
$warn-text: $wg-warn-contrast;

// .style-success {
// 	color: $primary-text;
// 	background-color: $primary;
// }
// .style-success .mat-simple-snackbar-action {
// 	color: $primary-text;
// }
// .style-error {
// 	color: $warn-text;
// 	background-color: $warn;
// }
// .style-error .mat-simple-snackbar-action {
// 	color: $warn-text;
// }
// }

.style-success {
	color: $primary-text;
	background-color: $primary;
}
.style-success .mat-simple-snackbar-action {
	color: $primary-text;
}
.style-error {
	color: $warn-text;
	background-color: $warn;
}
.style-error .mat-simple-snackbar-action {
	color: $warn-text;
}
