
.mat-header-cell {
	font-weight: bold;
}

.wg__filter-container {
	display: flex;

	flex-wrap: wrap;
	mat-dialog-content {
		display: flex;
	}

	mat-dialog-content > * {
		width: 100%;
	}
}

.wg__table {
	overflow: auto;

	margin-bottom: 15px;
	&.wg__table--auto {
		height: auto;
	}
	&:not(.wg__table--auto) {
		height: 300px;
	}
	.wg__table-link {
		mat-icon {
			margin-right: 10px;
		}
	}
}

.wg__table-link {
	display: flex;

	border: none;
	background-color: transparent;

	align-items: center;
	&:hover {
		cursor: pointer;
	}
}

.wg__table-link-container {
	display: flex;

	align-items: center;
	justify-content: flex-start;
}

.wg__table-link--list {
	margin-right: 10px;
	padding: 0;

	border: none;
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
}

table {
	width: 100%;
}

