@import '_theming.scss';

@include angular-material-theme($wg-app-theme);
$wg-primary: mat-color(map-get($wg-app-theme, primary));
$wg-primary-contrast: mat-contrast(map-get($wg-app-theme, primary),500);
$wg-secondary: mat-color(map-get($wg-app-theme, accent));
$wg-secondary-contrast: mat-contrast(map-get($wg-app-theme, accent),500);
$wg-warn: mat-color(map-get($wg-app-theme, warn));
$wg-warn-contrast: mat-contrast(map-get($wg-app-theme, warn),500);
$wg-menu-collapsed: 550px;
$layer__width-side: 300px;
$layer__bottom-height: 250px;
$tool__bottom-height: 700px;
// Tiempo de apertura del panel
$panel-transition: .3s;
