<div class="title__container">
    <h1>{{'webgisApp.role.home.title' | translate}}</h1>
    <button mat-raised-button (click)="add()">{{'webgisApp.role.home.createLabel' | translate}}</button>
</div>

<app-filter-table [fields]="fieldsSearch" (applyFilter)="applyFilter($event)"></app-filter-table>

<div class="wg__table wg__table--auto mat-elevation-z1">

    <table mat-table [dataSource]="dataSource" matSort matSortActive="selectedValue" matSortDisableClear
        matSortDirection="asc">

        <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.role.fields.id' | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <div class="wg__table-link-container">
                    <button class="wg__table-link--list" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="wg__table-link--list" (click)="delete(element)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                    {{element.id}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.role.fields.title' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'webgisApp.role.fields.name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>