<mat-toolbar color="primary">
    <button mat-icon-button (click)="openMenu()" class="menu__button">
        <mat-icon mat-list-icon>menu</mat-icon>
    </button>
    <span class="navbar__title" [ngClass]="{'navbar__title--unsaved' : showMapDirty}" matTooltip="{{unSavedTooltip}}"
        [matTooltipPosition]="'above'">{{title}}</span>

    <ng-container *ngIf="showSelectSearchCity">
        <form [formGroup]='searchForm'>
            <mat-form-field class="nv__search-city">
                <input matInput [matAutocomplete]="auto" formControlName='userInput'>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="citySelected($event)">
                <mat-option *ngFor="let city of (cities | async)" [value]="city">
                    <span matTooltip="{{city.display_name}}">{{ city.display_name }}</span>
                </mat-option>
            </mat-autocomplete>
        </form>
    </ng-container>

    <ng-container *ngIf="showSelectBaseLayerIcon">
        <mat-form-field class="nv__baselayer">
            <mat-select (selectionChange)="dispatchMapBaseLayer($event)" [(value)]="baseLayerByDefault">
                <mat-option *ngFor="let base of baseLayers" [value]="base.value">
                    {{base.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="showSelectIcon">
        <mat-form-field class="nv__projection">
            <mat-select (selectionChange)="dispatchMapProjection($event)" [(value)]="projectionByDefault">
                <ng-container *ngFor="let proj of projections">
                    <mat-option [value]="proj.value">
                        {{proj.text}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="showMenu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let action of actions; trackBy: trackById">
                <button *ngIf="action.visible" [disabled]="!action.enabled" mat-menu-item
                    (click)="dispatchMapAction(action.action)">
                    <mat-icon>{{action.icon}}</mat-icon>
                    <span>{{'map.' + action.name | translate}}</span>
                </button>
            </ng-container>
        </mat-menu>
    </ng-container>

</mat-toolbar>