<div class="panel__main">

    <div class="panel__item" [ngClass]="{'panel__item--closed': !listOpened}">
        <h3 class="panel__title" (click)="toggleList()">
            {{ 'markers.title'| translate}}
            <mat-icon>{{ listOpened ? 'keyboard_arrow_up' :
                'keyboard_arrow_down'}} </mat-icon>
        </h3>
        <div class="panel__list panel__list--spaced" *ngIf="(markersList.length > 0); else noMarkers">
            <div class="panel__list-icon"
                [ngClass]="{'wg__icon--selected' : (!!selectedMarkerType && selectedMarkerType.id === marker.id)}"
                *ngFor="let marker of markersList; trackBy: trackById" (click)="selectMarker(marker)">
                <img class="wg__icon" matTooltip="{{marker.title}}" [matTooltipPosition]="'above'"
                    [matTooltipShowDelay]="500" src="{{marker.iconUrl}}" alt="{{marker.observations}}" mat-card-avatar>
                {{marker.title}}
            </div>
        </div>
        <ng-template #noMarkers>
            <span class="list__nodata" *ngIf="searchDone">
                {{'markers.nomarkers' | translate}}
            </span>
        </ng-template>
    </div>

    <mat-divider></mat-divider>

    <div class="panel__item" [ngClass]="{'panel__item--closed': !selectedListOpened}">
        <h3 class="panel__title" (click)="toggleSelected()">
            {{ 'markers.markersSelected'| translate}} {{(markersAdded.length > 0) ? '(' +
            markersAdded.length + ')' : '' }}
            <mat-icon *ngIf="(markersAdded.length > 0)">{{ selectedListOpened ?
                'keyboard_arrow_down' :
                'keyboard_arrow_up'}} </mat-icon>
        </h3>
        <mat-list class="panel__list">

            <mat-list-item (mouseenter)="showActionMarker(marker)" (mouseleave)="hideActionMarker()"
                *ngFor="let marker of markersAdded; trackBy: trackByIdMapMarker" class="panel__list-item"
                [ngClass]="{'wg__node--opaced' : !!markerEditable && markerEditable.idMapMarker !== marker.idMapMarker}">
                <!-- {{marker.mapTitle}} - {{marker.idMapMarker}} -->

                <div class="panel__item-text" matTooltip="{{marker.mapObservations}}" [matTooltipPosition]="'above'"
                    [matTooltipShowDelay]="1000">

                    <span class="panel__item-desc" (click)="goToMarker(marker)">
                        {{marker.mapTitle}}
                    </span>

                    <div class="panel-item__icons" *ngIf="(markerMapHovered === marker.idMapMarker)">
                        <mat-icon class="layer__add-icon" (click)="delMarker(marker)">delete_forever</mat-icon>
                        <mat-icon class="layer__add-icon" (click)="goToMarker(marker)">edit</mat-icon>
                    </div>
                </div>

            </mat-list-item>
        </mat-list>

    </div>

    <mat-divider></mat-divider>

    <div class="wg__icon-attributes" *ngIf="!!markerEditable && !!markerEditable.id">

        <h3 class="wg__icon-attr">
            {{'webgis.attr' | translate}}
            <div class="wg__icon-actions">
                <mat-icon (click)="selectMarker(null)" matTooltip="{{'entity.action.unselect' | translate}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">cancel</mat-icon>
                <mat-icon (click)="delMarker()" matTooltip="{{'entity.action.delete' | translate}}"
                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">delete_forever</mat-icon>
            </div>
        </h3>

        <form class="iconForm">
            <mat-form-field class="fullwidth">
                <input matInput (input)="changeMarkerAttributeText('mapTitle',markerEditable.mapTitle)"
                    placeholder="{{'markers.markertitle' | translate }}" value="{{markerEditable.mapTitle}}"
                    [(ngModel)]="markerEditable.mapTitle" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="fullwidth">
                <textarea matInput (input)="changeMarkerAttributeText('observations',markerEditable.observations)"
                    placeholder="{{'markers.markerobservations' | translate }}"
                    value="{{markerEditable.mapObservations}}" [(ngModel)]="markerEditable.mapObservations"
                    [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>

            <mat-form-field class="fullwidth">
                <input matInput (input)="onPositionChange($event.target.value)"
                    placeholder="{{'map.location.latitude' | translate }}" value="{{markerEditable.location.latitude}}"
                    [(ngModel)]="markerEditable.location.latitude" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="fullwidth">
                <input matInput (input)="onPositionChange($event.target.value)"
                    placeholder="{{'map.location.longitude' | translate }}"
                    value="{{markerEditable.location.longitude}}" [(ngModel)]="markerEditable.location.longitude"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="fullwidth">
                <input matInput (input)="onPositionChange($event.target.value)"
                    placeholder="{{'map.location.altitude' | translate }}" value="{{markerEditable.location.altitude}}"
                    [(ngModel)]="markerEditable.location.altitude" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

        </form>

    </div>

</div>