@import '../../../../../css/helpers';
@import '../../../../../css/variables';
$images-height: 200px;
$modal-width: 600px;
::ng-deep {
	.wg__media {
		position: absolute;
		z-index: 999;

		width: $modal-width; // height: 600px;

max-width: 100vw;

		@media screen and (min-width:$modal-width) {
			left: calc(50% - #{$modal-width / 2});
		}
	}
}

.wg__media-card--collapsed {
	max-height: 20px;
	mat-card-subtitle,
	mat-card-actions,
	mat-card-content {
		display: none;
	}
}

mat-card-title {
	display: flex;
	.wg__media-title {
		@extend %nowrap;

		flex: 1;
		mat-icon {
			float: right;
		}
	}
	.wg__media-drag {
		margin-right: 15px;

		opacity: .5;
	}
}

.ng-draggable {
	cursor: move;
}

.wg__media-resource {
	width: 50%;
	min-width: 250px;
	max-width: 50%;
	height: auto;
	min-height: 150px;
	max-height: $images-height;

	border: 5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	&:hover {
		cursor: pointer;
	}
	&--related {
		max-width: 50px;
	}
}


.media__container {
	display: flex;

	width: 100%;
}

.media__related {
	display: flex;
	flex-direction: column;
	flex: 1;

	padding: 0 15px;

	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	.media__related-col {
		flex-direction: column;
	}
}
.wg__media-resource--main {
	max-width: 75px;
}
.wg__media-resource--related {
	max-width: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.wg__media-resource--related,
.wg__media-resource--main {
	border: 5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	&:hover {
		cursor: pointer;
	}
}

.wg__media-resource--active {
	outline: 1px solid $wg-primary;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .6);
}

.related__container {
	display: flex;

	margin-top: 10px;

	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.media__title {
	width: 100%;
	margin-bottom: 10px;
}

.wg__media-card {
	.mat-card-content {
		overflow-y: auto;

		max-height: calc(100vh - 200px);
	}
}
