<ng-container *ngIf="resource">
    <!-- <div class="wg__media" ngDraggable="true"   [position]="resource.mapCoordinates" [handle]="myHandle"> -->
    <div class="wg__media" cdkDrag>
        <mat-card class="wg__media-card" [ngClass]="{'wg__media-card--collapsed' : isCollapsed}">

            <mat-card-title matTooltip="{{resource.id}}" [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
                <mat-icon class="wg__media-drag" cdkDragHandle>open_with</mat-icon>
                <span class="wg__media-title" (click)="toggleCollapse()">
                    {{title}}
                    <mat-icon>
                        {{isCollapsed ? 'keyboard_arrow_down' :'keyboard_arrow_up'}}
                    </mat-icon>
                </span>

            </mat-card-title>

            <mat-card-content>
                <div class="media__container" *ngIf="!!resourceSelected">
                    <ng-container *ngIf="!resourceSelected.isGeo">
                        <img class="wg__media-resource" (click)="openLightbox()" [src]="resourceSelected.resourceUrl"
                            *ngIf="!resourceSelected.isVideo" matTooltip="{{resourceSelected.name}}"
                            [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
                        <video class="wg__media-resource" [src]="resourceSelected.resourceUrl"
                            *ngIf="resourceSelected.isVideo" controls>
                        </video>
                    </ng-container>

                    <div class="media__related" *ngIf="resource.relatedResources.length > 0">

                        <!-- <ng-container> -->
                        <div class="media__title">{{ 'media.resource.main' | translate}}</div>
                        <img (click)="setResourceSelected(resource)"
                            [ngClass]="{'wg__media-resource--active' : (resource.id  === idResourceSelected)}"
                            class="wg__media-resource--main" [src]="resource.resourceUrl"
                            *ngIf="(resource.isImage || resource.isGeo)">
                        <video (click)="setResourceSelected(resource)"
                            [ngClass]="{'wg__media-resource--active' : (resource.id  === idResourceSelected)}"
                            class="wg__media-resource--main" [src]="resource.resourceUrl" *ngIf="resource.isVideo"
                            controls>
                        </video>
                        <!-- </ng-container> -->

                        <div class="related__container">
                            <div class="media__title">{{ 'media.resource.related' | translate}}
                                ({{resource.relatedResources.length}})</div>
                            <ng-container *ngFor="let related of resource.relatedResources">
                                <img (click)="setResourceSelected(related)"
                                    [ngClass]="{'wg__media-resource--active' : (related.id === idResourceSelected)}"
                                    class="wg__media-resource--related" [src]="related.resourceUrl"
                                    *ngIf="(related.isImage || related.isGeo)" matTooltip="{{related.name}}"
                                    [matTooltipPosition]="'above'" [matTooltipShowDelay]="500">
                                <video (click)="setResourceSelected(related)"
                                    [ngClass]="{'wg__media-resource--active' : (related.id === idResourceSelected)}"
                                    class="wg__media-resource--related" [src]="related.resourceUrl"
                                    *ngIf="related.isVideo" controls>
                                </video>
                            </ng-container>
                        </div>

                    </div>

                </div>

                <ul class="media-info__list">
                    <li *ngFor="let param of resourceSelected.mediaInfo">
                        <span class="media-info__title">{{param.name}}</span>
                        <span class="media-info__desc" matTooltip="{{param.value}}" [matTooltipPosition]="'above'"
                            [matTooltipShowDelay]="500">{{param.value}}</span>
                    </li>

                </ul>

            </mat-card-content>

            <mat-card-actions>
                <button mat-button (click)="closeButton()">{{'entity.action.close' | translate}}</button>
                <ng-container *ngIf="!resourceSelected.isVideo">
                    <button mat-stroked-button color="primary" cdkFocusInitial
                        (click)="downloadResource(resourceSelected)">{{'entity.action.download' | translate}}</button>
                </ng-container>
            </mat-card-actions>

        </mat-card>

    </div>
</ng-container>