@import './css/theming';
@import './css/variables';
@import './css/table';
@import './css/snackbar';
@import './css/panels';

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;

// display: block;

	margin: 0;
	padding: 0;
}

.wg__margin {
	display: flex;

	min-height: calc(100vh - 64px);
}

.table--fullwidth {
	width: 100%;
	max-width: 100%;
}

mat-form-field {
	margin: 5px;
}

.page {
	display: block;

	margin: 15px;
}

.wg__margin router-outlet + *:not(app-main) {
	display: block;

	padding: 15px;
}

.title__container {
	display: flex;

	margin-bottom: 15px;

	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

ul,
li {
	list-style: none;
}

.media-info__list {
	display: flex;

	padding-left: 0;

	list-style: none;

	flex-wrap: wrap;
	li {
		display: flex;
		flex-direction: column;

		width: 30%;
		min-width: 100px;
		margin-right: 5px;
		margin-bottom: 15px;
	}
}

mat-card-actions.mat-card-actions {
	display: flex;

	justify-content: flex-end;
	button:first-child {
		margin-right: 10px;
	}
}

.mat-dialog-actions {
	justify-content: flex-end;
	button:first-child {
		margin-right: 10px;
	}
}

.media-info__title {
	opacity: .5;
}
.media-info__desc {
	@extend %nowrap;
}

.cdk-drag-handle {
	cursor: grab;
}

.list__nodata {
	display: block;

	padding: 15px;
}
