<mat-list class="wg__side-menu">
    <div class="wg__side-login">
        <img class="user__icon" [attr.src]="'./assets/babcock-logo.png'" alt="" width="75" height="97">
    </div>

    <ng-container *ngIf="(user | async )as _user">
        <h3 mat-subheader>{{'main.user'| translate}}</h3>

        <ng-container *ngIf="!!config">
            <a href="{{config.profileUrl}}" target="_blank" class="wg__item">
                <mat-list-item appWebgisClosemenu>
                    <mat-icon mat-list-icon>perm_identity</mat-icon>
                    <span mat-line>{{_user.firstName}}</span>
                </mat-list-item>
            </a>
        </ng-container>

        <ng-container *ngIf="isUser">
            <mat-divider class="wg__side-divider"></mat-divider>

            <a class="wg__item" [routerLink]="['/']" [routerLinkActive]="['wg__item--active']"
                [routerLinkActiveOptions]="{exact:true}">
                <mat-list-item appWebgisClosemenu>
                    <mat-icon mat-list-icon>layers</mat-icon>
                    <span mat-line>{{main.index}}</span>
                </mat-list-item>
            </a>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="userAdmin">

        <mat-divider class="wg__side-divider"></mat-divider>

        <h3 mat-subheader>{{'main.administration'| translate}}</h3>

        <a class="wg__item" [routerLink]="['/admin','role']" [routerLinkActive]="['wg__item--active']">
            <mat-list-item appWebgisClosemenu>
                <mat-icon mat-list-icon>person</mat-icon>
                <span mat-line>{{'webgisApp.role.home.title' | translate}}</span>
            </mat-list-item>
        </a>

        <a class="wg__item" [routerLink]="['/admin','group']" [routerLinkActive]="['wg__item--active']">
            <mat-list-item appWebgisClosemenu>
                <mat-icon mat-list-icon>people</mat-icon>
                <span mat-line>{{'webgisApp.group.home.title' | translate}}</span>
            </mat-list-item>
        </a>

        <a class="wg__item" [routerLink]="['/admin','panel']" [routerLinkActive]="['wg__item--active']">
            <mat-list-item appWebgisClosemenu>
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span mat-line>{{'panel.home.title' | translate}}</span>
            </mat-list-item>
        </a>

        <a class="wg__item" [routerLink]="['/admin','marker-type']" [routerLinkActive]="['wg__item--active']">
            <mat-list-item appWebgisClosemenu>
                <mat-icon mat-list-icon>room</mat-icon>
                <span mat-line>{{'webgisApp.markerType.home.title' | translate}}</span>
            </mat-list-item>
        </a>
    </ng-container>

    <ng-container *ngIf="envDev">
        <mat-divider class="wg__side-divider"></mat-divider>

        <a href="http://localhost:4200/swagger-ui/index.html" target="_blank" class="wg__item">
            <mat-list-item appWebgisClosemenu>
                <mat-icon mat-list-icon>list_alt</mat-icon>
                <span mat-line>SWAGGER</span>
            </mat-list-item>
        </a>
    </ng-container>

    <mat-divider class="wg__side-divider"></mat-divider>

    <div class="item__bottom" class="wg__item">
        <mat-list-item (click)="signOut()">
            <mat-icon mat-list-icon>power_settings_new</mat-icon>

            <span mat-line>{{main.signOut}}</span>
        </mat-list-item>
    </div>

</mat-list>