@import '../../../../css/theming';
@import '../../../../css/variables';

.wg__side-menu {
	display: flex;
	flex-direction: column;

	min-width: 200px;
	height: 100vh;
	margin: 0;
	padding: 0;

	background-color: $wg-secondary;

	// .item__bottom {
	// 	display: flex;
	// 	flex: 1;

	// align-items: flex-end;
	.wg__item {
		cursor: pointer;
	}
	// }
	a {
		text-decoration: none;
		&:focus {
			outline-color: white;
		}
	}
	h3.mat-subheader,
	.wg__item {
		color: white;
		background-color: $wg-secondary;
		.mat-list-item {
			color: white;
		}
	}
	.user__icon {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.wg__item--active {
		text-transform: uppercase;

		background-color: $wg-primary;
	}
	.wg__side-divider {
		background-color: white;
	}
}

.wg__side-login {
	display: block;

	margin: 0 auto;
}

