<h1 mat-dialog-title>{{'panel.home.editLabel' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="panelForm" novalidate>
        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="number"
                placeholder="{{'panel.fields.id'| translate}}" formControlName="id" [(ngModel)]="actualPanel.id">
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="text"
                placeholder="{{'panel.fields.title'| translate}}" formControlName="title"
                [(ngModel)]="actualPanel.title">
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <mat-select formControlName="side" [(ngModel)]="actualPanel.side"
                placeholder="{{'panel.fields.side'| translate}}" required>
                <mat-option [value]="'LEFT'">
                    {{'panel.side.left' |translate}}
                </mat-option>
                <mat-option [value]="'RIGHT'">
                    {{'panel.side.right' |translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="fullwidth" color="primary">
            <input autocorrect="off" autocapitalize="off" autocomplete="off" matInput type="number"
                placeholder="{{'panel.fields.order'| translate}}" formControlName="order"
                [(ngModel)]="actualPanel.order" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'webgis.cancel' | translate}}</button>
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="save()"
        [disabled]="(panelForm.invalid) ? '' : null">{{'entity.action.save' | translate}}</button>
</div>